<p *ngIf="showAlert" class="pt-4 px-4">
    <ngb-alert type="danger" (closed)="closeAlert()">{{alertMessage}}</ngb-alert>
</p>


<div class="d-flex row">
    <form class="px-5 pt-2 col" [formGroup]="sheetForm">
        <div class="form-group">
            <label for="title">Title</label>
            <i class="bi bi-info-circle mx-4" title="This is the title of the sheet."></i>
            <input (ngModelChange)="onFormChange()" class="form-control" formControlName="title" id="title"
                   placeholder="Sheet title" type="text">
            <div *ngIf="sheetForm.controls['title'].touched && sheetForm.controls['title'].invalid"
                 class="alert alert-danger">
                <div *ngIf="sheetForm.controls['title'].hasError('required')">Title is mandatory.</div>
                <div *ngIf="sheetForm.controls['title'].hasError('minlength')">Title should be at least 1 character
                    long.
                </div>
            </div>
        </div>


        <div class="form-group">
            <label for="courses">Courses</label>
            <i class="bi bi-info-circle mx-4" title="These are the course names that the sheet correspond to."></i>
            <div *ngIf="isCreateSheet && isRandomizedSheet">
                <ng-select (ngModelChange)="onFormChange()" [addTag]="false" [bindLabel]="'name'" [items]="courses"
                           [multiple]="true" class="form-control input-sm" formControlName="courses"
                           id="courses"
                           placeholder="Choose a course" required="true">
                </ng-select>
                <div *ngIf="sheetForm.controls['courses'].touched && sheetForm.controls['courses'].invalid"
                     class="alert alert-danger">
                    <div *ngIf="sheetForm.controls['courses'].hasError('required')">Course is mandatory.</div>
                    <div *ngIf="sheetForm.controls['courses'].hasError('minlength')">Course should be at least 1
                        character long.
                    </div>
                </div>
            </div>
            <div *ngIf="!isRandomizedSheet">
                {{sheetCourses}}
            </div>
        </div>


        <div class="form-group">
            <label for="categories">Categories</label>
            <i class="bi bi-info-circle mx-4" title="These are the category names that the sheet correspond to."></i>
            <div *ngIf="isRandomizedSheet">
                <ng-select (ngModelChange)="onFormChange()" [addTag]="false" [bindLabel]="'name'" [items]="categories"
                           [multiple]="true" class="form-control input-sm" formControlName="categories"
                           id="categories"
                           placeholder="Choose or add a category" required="true">
                </ng-select>
                <div *ngIf="sheetForm.controls['categories'].touched && sheetForm.controls['categories'].invalid"
                     class="alert alert-danger">
                    <div *ngIf="sheetForm.controls['categories'].hasError('required')">Category is mandatory.</div>
                    <div *ngIf="sheetForm.controls['categories'].hasError('minlength')">Category should be at least 1
                        character long.
                    </div>
                </div>
            </div>
            <div *ngIf="!isRandomizedSheet">
                {{sheetCategories}}
            </div>
        </div>


        <div *ngIf="isCreateSheet && isRandomizedSheet">
            <label for="numberExercises">Number of Exercises</label>
            <i class="bi bi-info-circle mx-4" title="Choose the number of exercises."></i>
            <input type="number" class="form-control" id="numberExercises" formControlName="numberExercises"
                   min="1" (ngModelChange)="onFormChange()">
        </div>


        <div *ngIf="isLoaded && filteredExercises?.length && !isRandomizedSheet" class="d-flex row px-4 col text-right" style="margin-top:15px">
                <button type="button" style="width:100px" (click)="addFilter()"
                        *ngIf="this.filterForm.value.filters.length==0" class="btn btn-primary"
                        title="Add an additional filter condition. The conditions are connected with logical AND.">
                    Add filter
                </button>
        </div>


        <form  *ngIf="!isRandomizedSheet" [formGroup]="filterForm" style="margin-right:15px;margin-left:15px;"
               (ngSubmit)="applyFilters()">
            <table class="table borderless" formArrayName="filters">
                <tbody >
                <tr scope="row" style="border: 1px,gray; border-top: 1px, gray;" *ngFor="let filter of filters().controls; let i=index" [formGroupName]="i">
                    <td  scope="col" class="col-2 align-middle">
                        <select class="browser-default custom-select form-control" formControlName="choice" placeholder="Filter by...">
                            <option [ngValue]="undefined" hidden>Filter by...</option>
                            <option value="Title" >Title</option>
                            <option value="Course">Course</option>
                            <option value="Category">Category</option>
                            <option value="Author" *ngIf="!isProfessor">Author</option>
                            <option value="ShortDescription">Short description</option>
                            <option value="Notes" *ngIf="isProfessor">Notes</option>
                        </select>
                    </td>
                    <td  scope="col" class="col-9 align-middle">
                        <input *ngIf="this.filterForm.value.filters.at(i).choice=='Title'" type="text"  class="form-control" id="search"
                               placeholder="Search by title" formControlName="value"  (input)="applyFilters()"/>
                        <ng-select *ngIf="this.filterForm.value.filters.at(i).choice=='Course'" [clearSearchOnAdd]="true"  [clearable]="false"
                                   [items]="courses" [multiple]="true" bindLabel="name"
                                   placeholder="Filter by course" formControlName="value"  (change)="applyFilters()">
                        </ng-select>
                        <ng-select *ngIf="this.filterForm.value.filters.at(i).choice=='Category'" [clearSearchOnAdd]="true" [clearable]="false"
                                   [items]="categories" [multiple]="true" bindLabel="name"
                                   placeholder="Filter by category" formControlName="value"  (change)="applyFilters()">
                        </ng-select>
                        <ng-select *ngIf="this.filterForm.value.filters.at(i).choice=='Author' && !isProfessor" [clearSearchOnAdd]="true" [clearable]="false"
                                   [items]="authors" [multiple]="true" bindLabel="authors"
                                   placeholder="Filter by author" formControlName="value"  (change)="applyFilters()">
                        </ng-select>
                        <input *ngIf="this.filterForm.value.filters.at(i).choice=='ShortDescription'" type="text"  class="form-control" id="search"
                               placeholder="Search by short description" formControlName="value" (input)="applyFilters()"/>
                        <div *ngIf="this.filterForm.value.filters.at(i).choice=='Notes' && isProfessor" class="input-group  ">
                            <div class="input-group-prepend">
                                <div class="input-group-text" title="If checked the search will include the given text. If unchecked, the search will return result NOT including the given text.">
                                    <input type="checkbox" formControlName="contains"  (change)="applyFilters()"> &nbsp; contains
                                </div>
                            </div>
                            <input type="text"  class="form-control" placeholder="Search in notes" formControlName="value" (input)="applyFilters()"/>
                        </div>

                    </td>
                    <td scope="col" class="col-1 align-middle" class="text-right">
                        <div class="d-flex justify-content-end">
                            <button (click)="removeFilter(i)" class="btn btn-danger" title="Remove filter">  <i class="bi bi-trash3 text-white"></i> </button>
                        </div>

                    </td>
                </tr>
                </tbody>
            </table>
            <div class=" d-flex justify-content-around">
                <div class="btn-group" role="group" aria-label="filter actions">
                    <button type="button" style="width:100px" (click)="addFilter()" *ngIf="this.filterForm.value.filters.length>0" class="btn btn-primary" title="Add an additional filter condition. The conditions are connected with logical AND.">Add filter</button>
                    <button type="button" style="width:100px" (click)="removeAllFilters()" *ngIf="this.filterForm.value.filters.length>0" class="btn btn-danger" title="Clear all the filters.">Clear</button>
                </div>
            </div>
        </form>

        <div *ngIf="!isRandomizedSheet" style="margin-top: 15px" class="form-group">
            <label>Select Exercises</label>
            <i class="bi bi-info-circle mx-4" title="Choose exercises for the sheet."></i>
            <table *ngIf="isLoaded" class="table table-striped">
                <thead>
                <tr>
                    <th scope="col" class="col-1" (click)="sortTable('Select')"> Select</th>
                    <th scope="col" class="col-2" (click)="sortTable('Title')"> Title</th>
                    <th scope="col" class="col-2" (click)="sortTable('Course')"> Course</th>
                    <th scope="col" class="col-2" (click)="sortTable('Category')"> Category</th>
                    <th *ngIf="!isProfessor" scope="col" class="col-1" (click)="sortTable('Author')"> Author</th>
                    <th scope="col" class="col-2" (click)="sortTable('Short Description')"> Short Description</th>
                    <th scope="col" class="col-2" *ngIf="isProfessor" (click)="sortTable('Notes')"> Notes</th>
                    <th scope="col" class="col-2" (click)="sortTable('Updated At')"> Updated At</th>
                    <th scope="col" class="col-1" *ngIf="isProfessor" (click)="sortTable('Published')"> Published</th>
                    <th scope="col" class="col-2" *ngIf="isProfessor" (click)="sortTable('Used')"> Used</th>
                    <th scope="col" class="col-1"></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let exercise of filteredExercises | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">

                    <td scope="row"><input class="form-check-input" type="checkbox"
                                           (change)="selectExercise(exercise)"/></td>
                    <td scope="row">{{ exercise.title }}</td>
                    <td scope="row">{{ coursesToString(exercise.courses) }} </td>
                    <td scope="row">{{ categoriesToString(exercise.categories) }} </td>
                    <td *ngIf="!isProfessor" scope="row">{{ exercise.author.username }}</td>
                    <td scope="row">{{ exercise.shortDescription }} </td>
                    <td *ngIf="isProfessor" scope="row">{{ exercise.note }} </td>
                    <td scope="row">{{ exercise.updatedAt | date:'dd.MM.YYYY' }} </td>
                    <td *ngIf="isProfessor" scope="row">{{ booleanToString(exercise.isPublished) }} </td>
                    <td *ngIf="isProfessor"scope="row">{{ booleanToString(exercise.isUsed) }} </td>
                    <td scope="col" class="text-right">
                        <div class="d-flex justify-content-end">
                            <div class="btn-group" role="group" aria-label="group">
                                <button type="button" class="btn btn-success btn-table"
                                        title="View the exercise as pdf." (click)="viewExercisePdf(exercise.id)">
                                    <i class="bi bi-eye text-white"></i>
                                </button>

                                <button *ngIf="isProfessor" type="button" class="btn btn-warning btn-table"
                                        title="Edit the exercise." routerLink="{{ '/exercise/'+exercise.id+'/edit' }}">
                                    <i class="bi bi-pencil text-white"></i>
                                </button>

                                <button *ngIf="isProfessor" type="button" class="btn btn-warning btn-table"
                                        title="Clone the exercise." routerLink="{{ '/exercise/'+exercise.id+'/clone' }}">
                                    <i class="bi bi-files text-white"></i>
                                </button>

                                <button *ngIf="isProfessor" type="button" class="btn btn-danger btn-table"
                                        title="Delete the exercise from the database." (click)="removeExercise(exercise.id);">
                                    <i class="bi bi-trash3 text-white"></i>
                                </button>
                            </div>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
            <div *ngIf="isLoaded" class="row ">
                <div class="col-4 ">
                    <select class="form-select" style="width:200px" formControlName="pageSize"
                            (ngModelChange)="setPageSize($event)">
                        <option [ngValue]="5">5 items per page</option>
                        <option [ngValue]="10">10 items per page</option>
                        <option [ngValue]="25">25 items per page</option>
                        <option [ngValue]="50">50 items per page</option>
                    </select>
                </div>
                <div class="col-4  d-flex justify-content-around">
                    <ngb-pagination [collectionSize]="exercises.length" [(page)]="page" [pageSize]="pageSize"
                                    [boundaryLinks]="true" [maxSize]="5" [ellipses]="true">
                    </ngb-pagination>
                </div>
            </div>
            <div *ngIf="!filteredExercises.length && !isLoaded" class="px-4 center no-data-found-text">
                No exercises found.
            </div>
        </div>


        <div *ngIf="isCreateSheet" class="d-flex justify-content-center pt-4">
            <input id="useNumericTitles" class="form-check-input" type="checkbox" formControlName="useNumericTitles"
                   (change)="toggleCheckbox('useNumericTitles')"/>
            <label class="ms-2" for="useNumericTitles">Use numeric exercise titles.</label>
        </div>


        <div *ngIf="isCreateSheet" class="d-flex justify-content-center pt-4">
            <input id="showSolutions" class="form-check-input" type="checkbox" formControlName="showSolutions"
                   (change)="toggleCheckbox('showSolutions')"/>
            <label class="ms-2" for="showSolutions">Show solutions of the exercises in the sheet.</label>
        </div>


        <div *ngIf="isProfessor" class="d-flex justify-content-center pt-4">
            <input id="isPublished" class="form-check-input" type="checkbox" formControlName="isPublished"
                   (change)="toggleCheckbox('isPublished')"/>
            <label class="ms-2" for="isPublished">Publish sheet, so everyone can see it.</label>
        </div>

        <div class="text-center pt-4">
            <div class="form-group text-center align-items-center">
                <button *ngIf="!isProfessor" class="btn btn-primary me-3" [disabled]="sheetForm.invalid" (click)="viewSheetPdf()">
                    Open Sheet
                    <span *ngIf="!isPdfLoaded" class="spinner-border spinner-border-sm" role="status"
                          aria-hidden="true"></span>
                </button>
                <button *ngIf="isProfessor" class="btn btn-primary me-3" [disabled]="sheetForm.invalid" (click)="viewSheetPdf()">
                    Sheet Preview
                    <span *ngIf="!isPdfLoaded" class="spinner-border spinner-border-sm" role="status"
                          aria-hidden="true"></span>
                </button>
                <button *ngIf="isProfessor" type="submit" class="btn btn-primary me-3" (click)="onSubmit(true)"
                        [disabled]="sheetForm.invalid">
                    Save
                </button>
                <button *ngIf="isProfessor && isCreateSheet" type="submit" class="btn btn-primary me-3" (click)="onSubmit(false)"
                        [disabled]="sheetForm.invalid">
                    Save and Create New Sheet
                </button>
            </div>
        </div>
    </form>

    <div class="col pt-3 pe-5 d-flex" *ngIf="pdfUrl.length && isPdfLoaded && isProfessor">
        <object [data]="getSanitizedUrl(pdfUrl)"
                type="application/pdf"
                height="1000rem">
        </object>
        <i class="bi bi-x col-auto" style="font-size: 3rem; margin-top: -1rem" title="Close PDF preview." (click)="pdfUrl = ''"></i>
    </div>

</div>

<div *ngIf="!isLoaded" class="d-flex justify-content-center center">
    <div class="spinner-border text-primary" role="status">
        <span class="sr-only"></span>
    </div>
</div>
