<h1 class="p-4">Add Exercise</h1>


<form class="px-5 pt-2" [formGroup]="exerciseForm">
    <div class="form-group">
        <label for="exercise">Title</label>
        <input type="text" class="form-control" id="exercise" [formControlName]="'title'"
               placeholder="Exercise title" (change)="onFormChange()">
        <div *ngIf="exerciseForm.controls['title'].touched && exerciseForm.controls['title'].invalid"
             class="alert alert-danger">
            <div *ngIf="exerciseForm.controls['title'].hasError('required')">Title is mandatory.</div>
            <div *ngIf="exerciseForm.controls['title'].hasError('minlength')">Title should be at least 1 character long.
            </div>
        </div>
    </div>


    <div class="form-group">
        <label for="categories">Categories</label>
        <ng-select [items]="categories" [bindLabel]="'name'" [addTag]="true" [multiple]="true"
                   class="form-control input-sm" appendTo="body"
                   formControlName="categories" id="categories" placeholder="Choose or add a category:"
                   required="true" (change)="onFormChange()">
        </ng-select>
        <div *ngIf="exerciseForm.controls['categories'].touched && exerciseForm.controls['categories'].invalid"
             class="alert alert-danger">
            <div *ngIf="exerciseForm.controls['categories'].hasError('required')">Category is mandatory.</div>
            <div *ngIf="exerciseForm.controls['categories'].hasError('minlength')">Category should be at least 1
                character
                long.
            </div>
        </div>
    </div>

    <div class="form-group">
        <label for="hiddenCategories">Categories for professor</label>
        <ng-select [items]="hiddenCategories" [bindLabel]="'name'" [addTag]="true" [multiple]="true"
                   class="form-control input-sm"
                   appendTo="body"
                   formControlName="hiddenCategories" id="hiddenCategories" placeholder="Choose or add a category:"
                   (change)="onFormChange()">
        </ng-select>
    </div>


    <div class="form-group">
        <label for="shortDescription">Short description</label>
        <textarea class="form-control" id="shortDescription" formControlName="shortDescription" rows="3"
                  (change)="onFormChange()"></textarea>
        <div
            *ngIf="exerciseForm.controls['shortDescription'].touched && exerciseForm.controls['shortDescription'].invalid"
            class="alert alert-danger">
            <div *ngIf="exerciseForm.controls['shortDescription'].hasError('required')">Short description is mandatory.
            </div>
            <div *ngIf="exerciseForm.controls['shortDescription'].hasError('minlength')">The short description should be
                at least 1 character long.
            </div>
        </div>
    </div>


    <div class="form-group">
        <label for="note">Notes for professor</label>
        <textarea class="form-control" id="note" formControlName="note" rows="3" (change)="onFormChange()"></textarea>
    </div>


    <div class="form-group">
        <div>LaTeX code for exercise</div>
        <div *ngFor="let text of texts.controls; let textIndex = index">
            <div class="mt-1">
                <label *ngIf="texts.length > 1">Page {{textIndex + 1}}</label>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                     class="bi bi-trash3 col-sm-1" viewBox="0 0 16 16" (click)="deleteText(textIndex)"
                     *ngIf="textIndex !== 0">
                    <path
                        d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/>
                </svg>
                <textarea class="form-control" [formControl]="$any(text)" rows="3"
                          (change)="onFormChange()"></textarea>
            </div>
            <div *ngIf="text.touched && text.invalid"
                 class="alert alert-danger">
                <div *ngIf="text.hasError('required')">The text is mandatory.</div>
                <div *ngIf="text.hasError('minlength')">The text should be at least 1 character long.
                </div>
            </div>
        </div>
        <button class="btn btn-secondary mt-2" (click)="addText()">Add page</button>
    </div>


    <div class="form-group">
        <div>LaTeX code for solution</div>
        <div *ngFor="let solution of solutions.controls; let solutionIndex = index">
            <div class="mt-1">
                <label *ngIf="solutions.length > 1">Page {{solutionIndex + 1}}</label>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                     class="bi bi-trash3 col-sm-1" viewBox="0 0 16 16" (click)="deleteSolution(solutionIndex)"
                     *ngIf="solutionIndex !== 0">
                    <path
                        d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/>
                </svg>
                <textarea class="form-control" [formControl]="$any(solution)" rows="3"
                          (change)="onFormChange()"></textarea>
            </div>
            <div *ngIf="solution.touched && solution.invalid"
                 class="alert alert-danger">
                <div *ngIf="solution.hasError('required')">The solution is mandatory.</div>
                <div *ngIf="solution.hasError('minlength')">The solution should be at least 1 character long.
                </div>
            </div>
        </div>
        <button class="btn btn-secondary mt-2" (click)="addSolution()">Add page</button>
    </div>


    <div class="form-group">
        <div class="dropzone col-6 d-flex justify-content-center align-items-center">
            <div>
                <input type="file" multiple id="exerciseImages" (change)="onImageChange($event)">
                <h3>Drag and drop image here</h3>
                <h3>or</h3>
                <label for="exerciseImages">Browse for image</label>
            </div>
        </div>

        <div class="files-list">
            <div class="single-file" *ngFor="let imageData of images; let imageIndex = index">
                <div class="info">
                    <div class="row">
                        <div class="col"></div>
                        <h4 class="name col">{{imageData.image.name}}</h4>
                        <div class="col text-end">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                 class="bi bi-trash3" viewBox="0 0 16 16" (click)="deleteImage(imageIndex)">
                                <path
                                    d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/>
                            </svg>
                        </div>
                    </div>
                    <h5 class="name">Reference to use in code: ##{{imageIndex}}</h5>
                    <p class="size">{{formatBytes(imageData.image.size)}}</p>
                    <img class="preview" src="{{imageData.url}}">
                </div>
            </div>
        </div>
    </div>


    <div class="text-center pt-4">
        <div class="form-group text-center">
            <button type="submit" class="btn btn-primary mx-3" (click)="onSubmit()" [disabled]="exerciseForm.invalid">
                Add
                exercise
            </button>
            <button class="btn btn-secondary" [disabled]="exerciseForm.invalid">Compile and preview</button>
        </div>
    </div>
</form>
