<nav class="navbar navbar-expand-lg sticky-top navbar-light bg-light">
<a class="navbar-brand mx-3" routerLink="">
  <img src="../assets/img/exgen-logo.png" alt="Logo" height="60">
</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item"><a class="nav-link" routerLink="exercise-sheets">Exercise Sheets</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="exercise-db">Exercise Database</a></li>
      <li *ngIf="isProfessor" class="nav-item"><a class="nav-link" routerLink="add-exercise">Add Exercise</a></li>
    </ul>
  </div>

  <div class="justify-content-end" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-person-fill"
            viewBox="0 0 16 16">
            <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
          </svg>
        </a>
        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
          <a *ngIf="!isProfessor" class="dropdown-item" routerLink="/login">Log In</a>
          <a *ngIf="isProfessor" class="dropdown-item" routerLink="/my-data">My Data</a>
          <a *ngIf="isProfessor" class="dropdown-item" routerLink="/exercise-sheets">My Exercise Sheets</a>
          <div *ngIf="isProfessor" class="dropdown-divider"></div>
          <a *ngIf="isProfessor" class="dropdown-item" (click)="logOutAsProfessor()">Log Out</a>
        </div>
      </li>
    </ul>
  </div>
</nav>