<h1 class="p-4">Sheet Database</h1>

<div class="d-flex row px-4">
    <p *ngIf="showAlert">
        <ngb-alert type="danger" (closed)="closeAlert()">{{alertMessage}}</ngb-alert>
    </p>
</div>


<div class="d-flex row px-4">
    <div *ngIf="isLoaded" class="col">
        <ng-select [clearSearchOnAdd]="true" [searchable]="true" (change)="filterCoursesChange($event)"
                   [clearable]="false"
                   [items]="courses" [multiple]="true" bindLabel="name" placeholder="Filter by course">
        </ng-select>
    </div>
    <div *ngIf="isLoaded" class="col">
        <ng-select [clearSearchOnAdd]="true" [searchable]="true" (change)="filterCategoriesChange($event)"
                   [clearable]="false"
                   [items]="categories" [multiple]="true" bindLabel="name" placeholder="Filter by category">
        </ng-select>
    </div>
    <div *ngIf="!isProfessor && isLoaded" class="justify-content-start col">
        <ng-select [clearSearchOnAdd]="true" [searchable]="true" (change)="filterAuthorsChange($event)"
                   [clearable]="false" [items]="authors"
                   [multiple]="true" bindLabel="name" placeholder="Filter by author">
        </ng-select>
    </div>
    <div *ngIf="isLoaded" class="text-end col" style="margin-top: 15px">
        <div class="btn-group" role="group" aria-label="group">
            <button *ngIf="isProfessor" title="Press to uncheck all the published flags."
                    style="border: 1px white solid;"
                    class="btn btn-danger" (click)="uncheckAll()">
                <i class="bi bi-trash3 text-white"></i>
                Reset Published
            </button>
            <button class="btn btn-primary" style="border: 1px white solid;" routerLink="/sheet/create">
                <i class="bi bi-plus-circle"></i>
                Create Sheet
            </button>
        </div>
    </div>
</div>


<div *ngIf="showLoading" class="d-flex justify-content-center px-4">
    <div class="spinner-border text-primary" role="status">
        <span class="sr-only"></span>
    </div>
</div>


<div *ngIf="filteredSheets?.length" class="px-4">
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col" class="col-lg"> Title</th>
            <th scope="col" class="col-lg"> Course</th>
            <th scope="col" class="col-lg"> Category</th>
            <th *ngIf="!isProfessor" scope="col" class="col-sm"> Author</th>
            <th *ngIf="isProfessor" scope="col" class="col-sm"> Updated At</th>
            <th scope="col" class="col-sm"> Published At</th>
            <th *ngIf="isProfessor" scope="col" class="col-sm"> Published</th>
            <th scope="col" class="col"></th>
        </tr>
        </thead>


        <tbody *ngIf="isLoaded">
        <tr
            *ngFor="let sheet of filteredSheets | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">

            <td scope="row">{{ sheet.title }}</td>
            <td scope="row">{{ getSheetCourses(sheet.courses) }}</td>
            <td scope="row">{{ getSheetCategories(sheet.categories) }}</td>
            <td *ngIf="!isProfessor" scope="row">{{ sheet.author.name }}</td>
            <td *ngIf="isProfessor" scope="row">{{ sheet.updatedAt | date:'dd.MM.YYYY' }}</td>
            <td scope="row">{{ sheet.publishedAt | date:'dd.MM.YYYY' }}</td>
            <td *ngIf="isProfessor" scope="row"><input class="form-check-input" type="checkbox" [(ngModel)]="sheet.isPublished"
                                                       (change)="toggleCheckbox(sheet.id)"/>
            </td>
            <td scope="col" class="text-right">
                <div class="d-flex justify-content-end">
                    <div class="btn-group" role="group" aria-label="group">
                        <button type="button" class="btn btn-success btn-table"
                                title="View the sheet as pdf" (click)="viewSheetPdf(sheet.id)">
                            <i class="bi bi-eye text-white"></i>
                        </button>

                        <button *ngIf="isProfessor" type="button" class="btn btn-warning btn-table"
                                title="Edit the sheet" routerLink="{{ '/sheet/'+sheet.id+'/edit' }}">
                            <i class="bi bi-pencil text-white"></i>
                        </button>

                        <button *ngIf="isProfessor" type="button" class="btn btn-warning btn-table"
                                title="Clone the sheet" routerLink="{{ '/sheet/'+sheet.id+'/clone' }}">
                            <i class="bi bi-files text-white"></i>
                        </button>

                        <button *ngIf="isProfessor" type="button" class="btn btn-danger btn-table"
                                title="Delete the sheet from the database" (click)="removeSheet(sheet.id);">
                            <i class="bi bi-trash3 text-white"></i>
                        </button>
                    </div>
                </div>
            </td>
        </tr>
        </tbody>
    </table>


    <div *ngIf="isLoaded" class="row ">
        <div class="col-4 ">
            <select class="form-select" style="width:200px" [ngModel]="pageSize" (ngModelChange)="setPageSize($event)">
                <option [ngValue]="5">5 items per page</option>
                <option [ngValue]="10">10 items per page</option>
                <option [ngValue]="25">25 items per page</option>
                <option [ngValue]="50">50 items per page</option>
            </select>
        </div>
        <div class="col-4  d-flex justify-content-around">
            <ngb-pagination [collectionSize]="sheets.length" [(page)]="page" [pageSize]="pageSize"
                            [boundaryLinks]="true" [maxSize]="5" [ellipses]="true">
            </ngb-pagination>
        </div>
    </div>
</div>


<div *ngIf="!filteredSheets?.length && isLoaded" class="px-4 center no-data-found-text">
    No Sheets found.
</div>
