<h1 class="p-4">Admin Console</h1>

<p *ngIf="showAlert" class="pt-4 px-4">
    <ngb-alert type="danger" (closed)="closeAlert()">{{alertMessage}}</ngb-alert>
</p>

<h2 class="ps-5">Create new User</h2>

<div class="d-flex justify-content-center">
    <div class="mt-5 col-4">
        <form [formGroup]="newUserForm" (ngSubmit)="addUser()">
            <div class="form-group">
                <div>E-Mail</div>
                <input class="form-control" type="text" formControlName="username">
            </div>

            <div class="form-group">
                <label for="password">Password</label>
                <input class="form-control" type="password" formControlName="password" id="password">
            </div>

            <div class="form-group text-center">
                <input class="form-check-input" type="checkbox" formControlName="admin" id="admin">
                <label class="ms-2" for="admin">Should the new user be an admin?</label>
            </div>

            <div class="text-center">
                <button class="btn btn-primary p-1 mt-4 col-3" type="submit">Add User</button>
            </div>
        </form>
    </div>
</div>


<h2 class="ps-5 pt-5">All Users</h2>

<div class="d-flex justify-content-center">
    <div class="mt-5 col-4" *ngIf="users.length && isLoaded">
        <form [formGroup]="userSearchForm" class="form-group">
            <input class="form-control" type="text" formControlName="searchString" placeholder="Filter by username">
        </form>

        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col" class="col-9">Username</th>
                <th scope="col" class="col">Admin</th>
                <th scope="col" class="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let user of sortedUsers | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
                <td>{{user.username}}</td>
                <td>{{user.admin ? 'Yes' : 'No'}}</td>
                <td class="text-right">
                    <div class="d-flex justify-content-end">
                        <button type="button" class="btn btn-danger btn-white-border" *ngIf="user.username !== currentUsername"
                                title="Delete the exercise from the database" (click)="deleteUser(user.username)">
                            <i class="bi bi-trash3 text-white"></i>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>

        <div class="row">
            <div class="col">
                <select class="form-select width-200" [ngModel]="pageSize"
                        (ngModelChange)="setPageSize($event)">
                    <option [ngValue]="5">5 items per page</option>
                    <option [ngValue]="10">10 items per page</option>
                    <option [ngValue]="25">25 items per page</option>
                    <option [ngValue]="50">50 items per page</option>
                </select>
            </div>

            <div class="col d-flex justify-content-end">
                <ngb-pagination [collectionSize]="users.length" [(page)]="page" [pageSize]="pageSize"
                                (pageChange)="users" [boundaryLinks]="true"></ngb-pagination>
            </div>
        </div>
    </div>

    <div *ngIf="!users.length && isLoaded" class="no-data-found-text">No users found.</div>
</div>

<div *ngIf="!isLoaded" class="d-flex justify-content-center">
    <div class="spinner-border text-primary" role="status">
        <span class="sr-only"></span>
    </div>
</div>

