<form class="border border-secondary px-5 pt-2" [formGroup]="exerciseForm">
    <div class="form-group">
        <label for="titleExercise" *ngIf="isExercise">Title</label>
        <label for="titleSub" *ngIf="!isExercise">Title</label>
        <input type="text" class="form-control" id="titleExercise" [formControlName]="'title'" aria-describedby="titleHelp"
               placeholder="Exercise title" *ngIf="isExercise" (change)="onFormChange()">
        <input type="text" class="form-control" id="titleSub" [formControlName]="'title'" aria-describedby="titleHelp"
               placeholder="Sub-exercise title" *ngIf="!isExercise" (change)="onFormChange()">
        <div *ngIf="exerciseForm.controls['title'].touched && exerciseForm.controls['title'].invalid"
             class="alert alert-danger">
            <div *ngIf="exerciseForm.controls['title'].hasError('required')">Title is mandatory.</div>
            <div *ngIf="exerciseForm.controls['title'].hasError('minlength')">Title should be at least 1 character long.
            </div>
        </div>
    </div>


    <div class="form-group" *ngIf="isExercise">
        <label for="categories">Category</label>
        <ng-select [items]="categories" [addTag]="true" [multiple]="true" class="form-control input-sm" appendTo="body"
                   formControlName="categories" id="categories" placeholder="Choose or add a category: "
                   required="true" (change)="onFormChange()">
        </ng-select>
        <div *ngIf="exerciseForm.controls['categories'].touched && exerciseForm.controls['categories'].invalid"
             class="alert alert-danger">
            <div *ngIf="exerciseForm.controls['categories'].hasError('required')">Category is mandatory.</div>
            <div *ngIf="exerciseForm.controls['categories'].hasError('minlength')">Category should be at least 1
                character
                long.
            </div>
        </div>
    </div>


    <div class="form-group">
        <label for="text" *ngIf="isExercise">LaTeX code for exercise</label>
        <label for="text" *ngIf="!isExercise">LaTeX code for sub-exercise</label>
        <textarea class="form-control" id="text" formControlName="text" rows="3" (change)="onFormChange()"></textarea>
        <div *ngIf="exerciseForm.controls['text'].touched && exerciseForm.controls['text'].invalid"
             class="alert alert-danger">
            <div *ngIf="exerciseForm.controls['text'].hasError('required') && isExercise">Exercise is mandatory.</div>
            <div *ngIf="exerciseForm.controls['text'].hasError('minlength') && isExercise">The exercise should be at least 1
                character long.
            </div>
        </div>
    </div>


    <div class="form-group">
        <label for="shortText">LaTeX code for short description</label>
        <textarea class="form-control" id="shortText" formControlName="shortText" rows="3" (change)="onFormChange()"></textarea>
        <div
            *ngIf="exerciseForm.controls['shortText'].touched && exerciseForm.controls['shortText'].invalid"
            class="alert alert-danger">
            <div *ngIf="exerciseForm.controls['shortText'].hasError('required')">Short description is mandatory.
            </div>
            <div *ngIf="exerciseForm.controls['shortText'].hasError('minlength')">The short description should be
                at least 1 character long.
            </div>
        </div>
    </div>


    <div class="form-group">
        <div class="dropzone w-25">
            <input type="file" multiple id="exerciseImages" (change)="onImageChange($event)">
            <h3>Drag and drop image here</h3>
            <h3>or</h3>
            <label for="exerciseImages">Browse for image</label>
        </div>
        <div class="files-list w-25">
            <div class="single-file" *ngFor="let imageData of exerciseImages; let imageIndex = index">
                <div class="info">
                    <div class="row">
                        <h4 class="name col-5">{{imageData.image.name}}</h4>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             class="bi bi-trash3 col-sm-1" viewBox="0 0 16 16" (click)="deleteImage(imageIndex)">
                            <path
                                d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/>
                        </svg>
                    </div>
                    <p class="size">{{formatBytes(imageData.image.size)}}</p>
                    <img class="preview" src="{{imageData.url}}">
                </div>
            </div>
        </div>
    </div>


    <div class="form-group">
        <p *ngIf="solutions.length === 1">LaTeX code for solution</p>
        <p *ngIf="solutions.length > 1">LaTeX code for solutions</p>
        <div *ngFor="let solution of solutions.controls; let solutionIndex = index">
            <div class="mt-1">
                <label *ngIf="solutions.length === 1">Solution</label>
                <label *ngIf="solutions.length > 1">Solution {{solutionIndex + 1}}</label>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                     class="bi bi-trash3 col-sm-1" viewBox="0 0 16 16" (click)="deleteSolution(solutionIndex)" *ngIf="solutionIndex !== 0">
                    <path
                        d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/>
                </svg>
                <textarea class="form-control" [formControl]="$any(solution)" rows="3" (change)="onFormChange()"></textarea>
            </div>
            <div *ngIf="solution.touched && solution.invalid && solutionIndex === 0"
                 class="alert alert-danger">
                <div *ngIf="solution.hasError('required')">The solution is mandatory.</div>
                <div *ngIf="solution.hasError('minlength')">The solution should be at least 1
                    character long.
                </div>
            </div>

            <div class="form-group">
                <div class="dropzone w-25">
                    <input type="file" multiple id="solutionImages" (change)="onImageChange($event)">
                    <h3>Drag and drop image here</h3>
                    <h3>or</h3>
                    <label for="solutionImages">Browse for image</label>
                </div>
                <div class="files-list w-25">
                    <div class="single-file" *ngFor="let imageData of solutionsImages[solutionIndex]; let imageIndex = index">
                        <div class="info">
                            <div class="row">
                                <h4 class="name col-5">{{imageData.image.name}}</h4>
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                     class="bi bi-trash3 col-sm-1" viewBox="0 0 16 16" (click)="deleteImage(imageIndex)">
                                    <path
                                        d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/>
                                </svg>
                            </div>
                            <p class="size">{{formatBytes(imageData.image.size)}}</p>
                            <img class="preview" src="{{imageData.url}}">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button class="btn btn-primary mt-2" (click)="addSolution()">Add solution</button>
    </div>
</form>
