<h1 class="p-4">Exercise Database</h1>


<div class="d-flex row px-4">
    <p *ngIf="showAlert">
        <ngb-alert type="danger" (closed)="closeAlert()">{{alertMessage}}</ngb-alert>
    </p>
    <div *ngIf="isLoaded" class="justify-content-start col">
        <ng-select [clearSearchOnAdd]="true" (change)="filterCourses($event)" [clearable]="false"
                   [items]="courses" [multiple]="true" bindLabel="courses"
                   placeholder="Filter by course">
        </ng-select>
    </div>
    <div *ngIf="isLoaded" class="col">
        <ng-select [clearSearchOnAdd]="true" (change)="filterCategories($event)" [clearable]="false"
                   [items]="categories" [multiple]="true" bindLabel="categories"
                   placeholder="Filter by category">
        </ng-select>
    </div>
    <div *ngIf="isLoaded" class="col" style="margin-top: 15px">
        <input *ngIf="isProfessor" type="text" (input)="onSearchChange($event)" class="form-control" id="search"
               placeholder="Search in notes"/>
    </div>
    <div *ngIf="isLoaded && isProfessor" class="text-end col" style="margin-top: 15px">
        <div class="btn-group" role="group" aria-label="group">
            <button title="Press to uncheck all the isUsed flags." style="border: 1px white solid"
                    class="btn btn-danger" (click)="uncheckAll()">
                <i class="bi bi-trash3 text-white"></i>
                Reset Used
            </button>
            <button class="btn btn-primary" style="border: 1px white solid" routerLink="/exercise/create">
                <i class="bi bi-plus-circle"></i>
                Create Exercise
            </button>
        </div>
    </div>
</div>


<div *ngIf="showLoading && !isLoaded" class="d-flex justify-content-center">
    <div class="spinner-border text-primary" role="status">
        <span class="sr-only"></span>
    </div>
</div>


<div *ngIf="filteredExercises?.length" class="px-4">
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col" class="col-2" sortable="title"> Title</th>
            <th scope="col" class="col-2"> Course</th>
            <th scope="col" class="col-2"> Category</th>
            <th *ngIf="!isProfessor" scope="col" class="col-sm"> Author</th>
            <th scope="col" class="col-2"> Short Description</th>
            <th scope="col" class="col-2" *ngIf="isProfessor"> Notes</th>
            <th *ngIf="isProfessor" scope="col" class="col-sm justify-content-center">Published</th>
            <th scope="col" class="col-1" *ngIf="isProfessor">
                <div class="d-flex justify-content-center">
                    <div>Used

                    </div>
                </div>
            </th>
            <th scope="col" class="col-1"></th>
        </tr>
        </thead>


        <tbody *ngIf="isLoaded">
        <tr *ngFor="let element of filteredExercises | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">

            <td scope="col">{{ element.title }}</td>
            <td scope="col" [innerText]="categoriesToString(element.courses)"></td>
            <td scope="col" [innerText]="categoriesToString(element.categories)"></td>
            <td *ngIf="!isProfessor" scope="row">{{ element.author.name }}</td>
                <td scope="col">{{ element.shortDescription }}</td>
            <td scope="col col-2" *ngIf="isProfessor">{{ element.note }}</td>
                <td scope="col" *ngIf="isProfessor">
                    <div class="d-flex justify-content-center">
                        <div><input class="form-check-input" type="checkbox" [(ngModel)]="element.isPublished"
                                    (change)="toggleCheckbox(element.id)"/></div>
                    </div>
                </td>
            <td scope="col" *ngIf="isProfessor">
                <div class="d-flex justify-content-center">
                    <div><input class="form-check-input" type="checkbox" [(ngModel)]="element.isUsed"
                                (change)="toggleCheckbox(element.id)"/></div>
                </div>
            </td>
            <td scope="col" class="text-right">
                <div class="d-flex justify-content-end">
                    <div>
                        <div class="btn-group" role="group" aria-label="group">
                            <button type="button" class="btn btn-success btn-table"
                                    title="View the exercise as pdf" (click)="viewExercisePdf(element.id)">
                                <i class="bi bi-eye text-white"></i>
                            </button>

                            <button *ngIf="isProfessor" type="button" class="btn btn-warning btn-table"
                                    title="Edit the exercise" routerLink="{{ '/exercise/'+element.id+'/edit' }}">
                                <i class="bi bi-pencil text-white"></i>
                            </button>

                            <button *ngIf="isProfessor" type="button" class="btn btn-warning btn-table"
                                    title="Clone the exercise" routerLink="{{ '/exercise/'+element.id+'/clone' }}">
                                <i class="bi bi-files text-white"></i>
                            </button>

                            <button *ngIf="isProfessor" type="button" class="btn btn-danger btn-table"
                                    title="Delete the exercise from the database" (click)="removeExercise(element.id)">
                                <i class="bi bi-trash3 text-white"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        </tbody>
    </table>


    <div *ngIf="isLoaded" class="row ">
        <div class="col-4 ">
            <select class="form-select" style="width:200px" [ngModel]="pageSize" (ngModelChange)="setPageSize($event)">
                <option [ngValue]="5">5 items per page</option>
                <option [ngValue]="10">10 items per page</option>
                <option [ngValue]="25">25 items per page</option>
                <option [ngValue]="50">50 items per page</option>
            </select>
        </div>
        <div class="col-4  d-flex justify-content-around">
            <ngb-pagination [collectionSize]="filteredExercises.length" [(page)]="page" [pageSize]="pageSize" class=""
                            (pageChange)="refreshExercises()" [boundaryLinks]="true" [maxSize]="5" [ellipses]="true">
            </ngb-pagination>
        </div>
    </div>
</div>


<div *ngIf="!filteredExercises?.length && isLoaded" class="px-4 center no-data-found-text">
    No exercises found.
</div>
