<h1 class="p-4">Exercise Database</h1>


<p *ngIf="showAlert" class="pt-4 px-4">
    <ngb-alert type="danger" (closed)="closeAlert()">{{alertMessage}}</ngb-alert>
</p>


<form *ngIf="isLoaded && filteredExercises?.length" [formGroup]="filterForm" (ngSubmit)="applyFilters()">
    <table class="table borderless" formArrayName="filters">
        <tbody>
            <tr scope="row" *ngFor="let filter of filters().controls; let i=index" [formGroupName]="i">
                <td scope="col" class="col-2 align-middle">
                    <select class="browser-default custom-select form-control" formControlName="choice"
                            placeholder="Filter by...">
                        <option [ngValue]="undefined" hidden>Filter by...</option>
                        <option value="Title">Title</option>
                        <option value="Course">Course</option>
                        <option value="Category">Category</option>
                        <option *ngIf="isProfessor" value="Notes">Notes</option>
                        <option value="ShortDescription">Short description</option>
                        <option *ngIf="!isProfessor" value="Author">Author</option>
                    </select>
                </td>

                <td scope="col" class="col-9 align-middle">
                    <input *ngIf="this.filterForm.value.filters.at(i).choice=='Title'" type="text" class="form-control"
                           placeholder="Search by title" formControlName="value" (input)="applyFilters()"/>
                    <ng-select *ngIf="this.filterForm.value.filters.at(i).choice=='Course'" [clearSearchOnAdd]="true"
                               [clearable]="false"
                               [items]="courses" [multiple]="true" bindLabel="courses"
                               placeholder="Filter by course" formControlName="value" (change)="applyFilters()">
                    </ng-select>
                    <ng-select *ngIf="this.filterForm.value.filters.at(i).choice=='Category'" [clearSearchOnAdd]="true"
                               [clearable]="false"
                               [items]="categories" [multiple]="true" bindLabel="categories"
                               placeholder="Filter by category" formControlName="value" (change)="applyFilters()">
                    </ng-select>
                    <ng-select *ngIf="this.filterForm.value.filters.at(i).choice=='Author' && !isProfessor"
                               [clearSearchOnAdd]="true" [clearable]="false"
                               [items]="authors" [multiple]="true" bindLabel="authors"
                               placeholder="Filter by author" formControlName="value" (change)="applyFilters()">
                    </ng-select>
                    <input *ngIf="this.filterForm.value.filters.at(i).choice=='ShortDescription'" type="text"
                           class="form-control"
                           placeholder="Search by short description" formControlName="value" (input)="applyFilters()"/>
                    <div *ngIf="this.filterForm.value.filters.at(i).choice=='Notes' && isProfessor" class="input-group  ">
                        <div class="input-group-prepend">
                            <div class="input-group-text"
                                 title="If checked the search will include the given text. If unchecked, the search will return result NOT including the given text.">
                                <input type="checkbox" formControlName="contains" (change)="applyFilters()"> contains
                            </div>
                        </div>
                        <input type="text" class="form-control" placeholder="Search in notes" formControlName="value"
                               (input)="applyFilters()"/>
                    </div>
                </td>

                <td scope="col" class="col-1 align-middle" class="text-right">
                    <div class="d-flex justify-content-end">
                        <button (click)="removeFilter(i)" class="btn btn-danger" title="Remove filter"><i
                            class="bi bi-trash3 text-white"></i></button>
                    </div>
                </td>

            </tr>
        </tbody>
    </table>


    <div class=" d-flex justify-content-around">
        <div class="btn-group" role="group" aria-label="filter actions">
            <button type="button" (click)="addFilter()" *ngIf="this.filterForm.value.filters.length>0"
                    class="btn btn-primary width-100 btn-white-border"
                    title="Add an additional filter condition. The conditions are connected with logical AND.">Add
                filter
            </button>
            <button type="button" (click)="removeAllFilters()" *ngIf="this.filterForm.value.filters.length>0"
                    class="btn btn-danger width-100 btn-white-border" title="Clear all the filters.">Clear
            </button>
        </div>
    </div>
</form>


<div  *ngIf="isLoaded && filteredExercises?.length" class="d-flex row px-4">

    <div class="col text-right">
        <button type="button" (click)="addFilter()" *ngIf="this.filterForm.value.filters.length==0"
                class="btn btn-primary width-100"
                title="Add an additional filter condition. The conditions are connected with logical AND.">Add filter
        </button>
    </div>

    <div *ngIf="isProfessor" class="text-end col">
        <div class="btn-group" role="group" aria-label="group">

            <button class="btn btn-primary btn-white-border" routerLink="/exercise/create">
                <i class="bi bi-plus-circle"></i>
                Create Exercise
            </button>
        </div>
    </div>

</div>


<div *ngIf="isLoaded && filteredExercises?.length" class="px-4">
    <table class="table table-striped">
        <thead>
        <tr>

            <th scope="col" class="col-2" (click)="sortTable('Title')"> Title</th>
            <th scope="col" class="col-2" (click)="sortTable('Course')"> Course</th>
            <th scope="col" class="col-2" (click)="sortTable('Category')"> Category</th>
            <th *ngIf="!isProfessor" scope="col" class="col-2" (click)="sortTable('Author')"> Author</th>
            <th scope="col" class="col-2" (click)="sortTable('Short Description')"> Short Description</th>
            <th *ngIf="isProfessor" scope="col" class="col-2" (click)="sortTable('Notes')"> Notes</th>
            <th scope="col" class="col-1" (click)="sortTable('Updated At')"> Updated At</th>
            <th *ngIf="isProfessor" scope="col" class="col-1" (click)="sortTable('Published')"> Published</th>
            <th *ngIf="isProfessor" scope="col" class="col-1" (click)="sortTable('Used')"> Used</th>
            <th scope="col" class="col-1"></th>
        </tr>
        </thead>


        <tbody>
        <tr
            *ngFor="let element of filteredExercises | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">

            <td scope="row">{{ element.title }}</td>
            <td scope="row">{{ coursesToString(element.courses) }}</td>
            <td scope="row">{{ categoriesToString(element.categories) }}</td>
            <td *ngIf="!isProfessor" scope="row">{{ element.author.username }}</td>
            <td scope="row">{{ element.shortDescription }}</td>
            <td *ngIf="isProfessor" scope="row">{{ element.note }}</td>
            <td scope="row">{{ element.updatedAt | date:'dd.MM.YYYY' }}</td>
            <td *ngIf="isProfessor" scope="row"><input class="form-check-input" type="checkbox"
                [(ngModel)]="element.isPublished"
                (change)="toggleCheckbox(element.id)"/>
            </td>
            <td *ngIf="isProfessor" scope="row">{{ booleanToString(element.isUsed) }}</td>
            <td scope="row" class="text-right">
                <div class="d-flex justify-content-end">
                    <div>
                        <div class="btn-group" role="group" aria-label="group">
                            <button type="button" class="btn btn-success btn-white-border"
                                    title="View the exercise as pdf" (click)="viewExercisePdf(element.id)">
                                <i class="bi bi-eye text-white"></i>
                            </button>

                            <button *ngIf="isProfessor" type="button" class="btn btn-warning btn-white-border"
                                    title="Edit the exercise" routerLink="{{ '/exercise/'+element.id+'/edit' }}">
                                <i class="bi bi-pencil text-white"></i>
                            </button>

                            <button *ngIf="isProfessor" type="button" class="btn btn-warning btn-white-border"
                                    title="Clone the exercise" routerLink="{{ '/exercise/'+element.id+'/clone' }}">
                                <i class="bi bi-files text-white"></i>
                            </button>

                            <button *ngIf="isProfessor" type="button" class="btn btn-danger btn-white-border"
                                    title="Delete the exercise from the database" (click)="removeExercise(element.id)">
                                <i class="bi bi-trash3 text-white"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        </tbody>
    </table>


    <div *ngIf="isLoaded" class="row ">
        <div class="col-4 ">
            <select class="form-select width-200" [ngModel]="pageSize" (ngModelChange)="setPageSize($event)">
                <option [ngValue]="5">5 items per page</option>
                <option [ngValue]="10">10 items per page</option>
                <option [ngValue]="25">25 items per page</option>
                <option [ngValue]="50">50 items per page</option>
            </select>
        </div>
        <div class="col-4  d-flex justify-content-around">
            <ngb-pagination [collectionSize]="filteredExercises.length" [(page)]="page" [pageSize]="pageSize" class=""
                            (pageChange)="refreshExercises()" [boundaryLinks]="true" [maxSize]="5" [ellipses]="true">
            </ngb-pagination>
        </div>
    </div>
</div>


<div *ngIf="isLoaded && !filteredExercises?.length" class="px-4 center no-data-found-text">
    No exercises found.
</div>


<div *ngIf="!isLoaded" class="d-flex justify-content-center">
    <div class="spinner-border text-primary" role="status">
        <span class="sr-only"></span>
    </div>
</div>
