table {
    width: 100%;
  }
  .form-group{
    margin-bottom: 15px;
    margin-top: 15px;
    margin-right: 100px;
}
.th-right{
  text-align: center; 
  justify-content: inherit;
}
.mat-column-action {
  flex: none;
  width: 160px;
}