/* You can add global styles to this file, and also import other style files */
@import "~bootstrap-icons/font/bootstrap-icons.css";
@import "~@ng-select/ng-select/themes/material.theme.css";
@import "../node_modules/@angular/material/prebuilt-themes/indigo-pink.css";

@import '~codemirror/lib/codemirror.css';


:root{
    --secondary-colour: #3587fd;
    --secondary-disabled-colour: #679ff1;
    --secondary-hover-colour: #196cee;
}

.center {
    display: flex;
    justify-content: center;
    height: calc(100vh - 15rem);
}

.center *{
    align-self: center;
}

.btn-secondary {
    background-color: var(--secondary-colour);
    border-color: var(--secondary-colour);
}

.btn-secondary:disabled {
    background-color: var(--secondary-disabled-colour);
    border-color: var(--secondary-disabled-colour);
}

.btn-secondary:hover {
    background-color: var(--secondary-hover-colour);
    border-color: var(--secondary-hover-colour);
}

.btn-white-border {
    border: 1px white solid;
}

.width-100 {
    width: 100px;
}

.width-200 {
    width: 200px;
}

.form-group {
    margin-bottom: 30px;
}

.dropzone {
    height: 200px;
    padding: 2%;
    min-width: 100px;
    max-width: 350px;
    justify-content: space-between;
    text-align: center;
    border: dashed 1px #979797;
    position: relative;
    margin: 0 auto;
}

.dropzone > div > input {
    opacity: 0;
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    cursor: pointer;
}

.dropzone > div > label {
    color: white;
    border-radius: .25rem;
    background-color: var(--secondary-colour);
    padding: 8px 16px;
    font-weight: 600;
}

.dropzone:hover > div > label {
    background-color: var(--secondary-hover-colour);
}

.dropzone > div > h3 {
    font-size: 20px;
    font-weight: 600;
    color: #38424c;
}

.files-list {
    margin-top: 1.5rem;
    text-align: center;
}

.files-list .single-file {
    display: inline-block;
    padding: 0.5rem;
    justify-content: space-between;
    text-align: center;
    border: dashed 1px #979797;
    margin: 1rem;
}

.files-list .single-file img.delete {
    cursor: pointer;
    align-self: flex-end;
}

.files-list .single-file .name {
    font-size: 14px;
    font-weight: 500;
    color: #353f4a;
    margin: 0;
}

.files-list .single-file .size {
    font-size: 12px;
    font-weight: 500;
    color: #a4a4a4;
    margin-bottom: 0.25rem;
}

.files-list .single-file .info {
    width: 100%;
}

.files-list .single-file .preview {
    height: 13rem;
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-selected,
.ng-dropdown-panel,
.ng-dropdown-panel-items,
.ng-option.ng-option-selected.ng-option-marked {
    color: #134ea9;
}

.ng-select.ng-select-focused .ng-select-container:after {
    border-color: var(--secondary-colour)
}

.ng-select.ng-select-container .ng-value-container .ng-placeholder{
    color: var(--secondary-disabled-colour);
}

.ng-select.ng-select-focused .ng-select-container .ng-value-container .ng-placeholder {
    color: var(--secondary-disabled-colour);
}

.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value {
    background-color: var(--bs-primary);
}

.bi-info-circle {
    color: #b8b8b8;
}

.no-data-found-text {
    margin-top: 15px;
    font-size: 20px
}

.cursor-pointer {
    cursor: pointer;
}

.close-pdf {
    font-size: 3rem;
    margin-top: -1rem;
}
